# Ignore virtual environment
/porra/
/data/
/.vscode/
/.venv/

# Ignore Python cache
__pycache__/

# Ignorar todo el contenido de la carpeta data
data/*

# Pero no ignores el archivo .gitkeep (para que la carpeta se cree)
!data/.gitkeep